header{
  background-color: rgb(68, 68, 68);
  height: 50px;
  position: fixed;
}

#title-name{
  color: white;
  font-size: 25px;
  padding-top: 12px;
  display: inline-block;
}

.nav-bar{
  color: white;
  position: absolute;
  right: 5px;
  top: 15px;
  padding-right: 10px;
}

.nav-bar a{
  font-size: 20px;
  padding: 5px;
}

.social-link{
  color: white;
  font-size: 20px;
}

#bio-link:hover{
  color: lightblue;
}

#portfolio-link:hover{
  color: lightgreen;
}

#contact-link:hover{
  color: lightsalmon;
}

#github-link:hover{
  color: lightslategray;
}

#linkedin-link:hover{
  color: lightseagreen;
}

.nav-bar a:link{
  color: white;
}

.nav-bar a:visited{
  color: white;
}

.nav-bar a:hover{
  color: lightgray;
}

@media screen and (max-width: 388px){
  #title-name{
    display: none;
  }
}
