*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Istok Web', sans-serif;
}

#intro{
  padding-bottom: 150px !important;
}

#intro h1{
  font-size: 40px;
  padding: 30px;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

#intro h2{
  font-size: 30px;
  padding: 10px;
}

#intro h3{
  font-size: 25px;
  padding: 10px;
}

#intro, #bio, #portfolio, #contact{
  text-align: center;
  padding: 10px;
}

li{
  font-size: 25px;
  list-style: none;
  margin: 10px;
  padding: 5px;
}

.html{
  color: #F1662A;
  border: 5px solid #F1662A;
}

.css{
  color: #33A9DC;
  border: 5px solid #33A9DC;
}

.js{
  color: #FFDA3E;
  border: 5px solid #FFDA3E;
}

.jquery{
  color: #1169AE;
  border: 5px solid #1169AE;
}

.react{
  color: #61DAFB;
  border: 5px solid #61DAFB;
}

.node{
  color: #539E43;
  border: 5px solid #539E43
}

#jquery{
  height: 50px;
  vertical-align: bottom;
}

.jquery-tech{
  height: 32px;
}


#bio h2{
  font-size: 34px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
}

#bio h3{
  font-size: 28px;
  margin-top: 35px;
}

#bio p{
  font-size: 20px;
  margin-top: 10px;
  padding: 15px;
}

#bio a{
  text-decoration: none;
  color: blue;
}

#portfolio{
  padding-top: 150px;
}

#portfolio h1{
  font-size: 38px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
}

#portfolio li{
  float: left;
}

#portfolio div{
  padding-top: 50px;
  padding-bottom: 50px;
}
